In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('filtered_data.csv')

# Display the first few rows to verify
df.head()

   userId  movieId  rating                                  genres
0       1       17     4.0                           Drama|Romance
1       1       25     1.0                           Drama|Romance
2       1       29     2.0  Adventure|Drama|Fantasy|Mystery|Sci-Fi
3       1       30     5.0                             Crime|Drama
4       1       32     5.0                 Mystery|Sci-Fi|Thriller